{% extends 'bootstrap/base.html' %}
{% block title %}Tokyo Train Delay{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <table class="content-table">
        <thead>
            <tr>
                <th>Railways</th>
                <th>Train Status</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(railways | length) %}
            <tr>
                <td>{{ railways[i] }}</td>
                <td>{{ train_status[i] }}</td>
                <td>{{ time[i] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

