<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Train Line</td>
                <td>Train Status</td>
                <td>Time</td>
            </tr>
        </thead>
        <tbody>
            {% for i in range(railways | length) %}
            <tr>
                <td>{{ railways[i] }}</td>
                <td>{{ train_status[i] }}</td>
                <td>{{ time[i] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>